<div class="container">
  <h2>MSL-5 Geräteinformationen</h2>
  <mat-list *ngIf="deviceInfo">
    <mat-list-item>
      <div class="row">
        <div class="col-lg-3 col-6">
          <strong>Name</strong>
        </div>
        <div class="col-lg-3 col-6">
          <input [(ngModel)]="deviceInfo!.name" />
        </div>
        <div class="col-lg-3 col-6">
          <strong>Beschreibung</strong>
        </div>
        <div class="col-lg-3 col-6">
          <input type="text" [(ngModel)]="deviceInfo!.description" />
        </div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="row">
        <div class="col-lg-3 col-6">
          <strong>Erstellt</strong>
        </div>
        <div class="col-lg-3 col-6">
          {{deviceInfo!.createdAt | date:'medium'}}
        </div>
        <div class="col-lg-3 col-6">
          <strong>Objekt</strong>
        </div>
        <div class="col-lg-3 col-6">
          <input type="text" [(ngModel)]="deviceInfo!.object" />
        </div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="row">
        <div class="col-lg-3 col-6">
          <strong>Aktiv</strong>
        </div>
        <div class="col-lg-3 col-6">
          <input type="checkbox" [(ngModel)]="deviceInfo!.isActive" />
        </div>
        <div class="col-lg-3 col-6">
          <strong>Postleitzahl</strong>
        </div>
        <div class="col-lg-3 col-6">
          <input type="text" [(ngModel)]="deviceInfo!.postalcode" />
        </div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="row">
        <div class="col-lg-3 col-6">
          <strong>Periode</strong>
        </div>
        <div class="col-lg-3 col-6">
          {{deviceInfo!.period}}
        </div>
        <div class="col-lg-3 col-6">
          <strong>Stadt</strong>
        </div>
        <div class="col-lg-3 col-6">
          <input type="text" [(ngModel)]="deviceInfo!.city" />
        </div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="row">
        <div class="col-lg-3 col-6">
          <strong>Hersteller</strong>
        </div>
        <div class="col-lg-3 col-6">
          <input type="text" [(ngModel)]="deviceInfo!.manufacturer" />
        </div>
        <div class="col-lg-3 col-6">
          <strong>Straße</strong>
        </div>
        <div class="col-lg-3 col-6">
          <input type="text" [(ngModel)]="deviceInfo!.street" />
        </div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <button class="btn btn-success me-5 float-end" (click)="saveDeviceInfo()">Speichern</button>
    </mat-list-item>
  </mat-list>
</div>