<div *ngIf="analogIn()">
  <h2>Analog IN Entries</h2>
  <table id="analog-in-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Factor</th>
        <th>LowerBound</th>
        <th>UpperBound</th>
        <th>Type</th>
        <th>IsLogging</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let analogIn of analogIn()">
        <td>{{analogIn.name}}</td>
        <td>{{analogIn.values[0].val}}</td>
        <td><input [(ngModel)]="analogIn.factor" type="number"/></td>
        <td><input type="number" [(ngModel)]="analogIn.lowerBound"></td>
        <td><input type="number" [(ngModel)]="analogIn.upperBound"></td>
        <td>
          <select>
            <option *ngFor="let type of spiTypes" [value]="type" [selected]="type === analogIn.type">{{type}}</option>
          </select>
        </td>
        <td>
          <input type="checkbox" [(ngModel)]="analogIn.isLogging"/>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="analogOut()">
  <h2>Analog OUT Entries</h2>
  <table id="analog-out-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Factor</th>
        <th>LowerBound</th>
        <th>UpperBound</th>
        <th>Type</th>
        <th>IsLogging</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let analogOut of analogOut()">
        <td>{{analogOut.name}}</td>
        <td><input [(ngModel)]="analogOut.values[0].val" /></td>
        <td><input [(ngModel)]="analogOut.factor" type="number"/></td>
        <td><input [(ngModel)]="analogOut.lowerBound" type="number"/></td>
        <td><input [(ngModel)]="analogOut.upperBound" type="number"></td>
        <td>
          <select>
            <option *ngFor="let type of spiTypes" [value]="type" [selected]="type === analogOut.type">{{type}}</option>
          </select>
        </td>
        <td>
          <input type="checkbox" [(ngModel)]="analogOut.isLogging"/>
        </td>
      </tr>
    </tbody>
  </table>
</div>