<div *ngIf="analogIn()">
  <h2>Analog IN Entries</h2>
  <table id="analog-in-table">
    <thead>
      <tr>
        <th>Number</th>
        <th>AnalogValue</th>
        <th>Factor</th>
        <th>Value</th>
        <th>LowerBound</th>
        <th>UpperBound</th>
        <th>Type</th>
        <th>IsLogging</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of analogIn()?.Entries">
        <td>{{entry.Number}}</td>
        <td>{{entry.AnalogValue}}</td>
        <td><input [(ngModel)]="entry.Factor" type="number"/></td>
        <td>{{entry.Value}}</td>
        <td><input type="number" [(ngModel)]="entry.LowerBound"></td>
        <td><input type="number" [(ngModel)]="entry.UpperBound"></td>
        <td>{{entry.Type}}</td>
        <td>{{entry.IsLogging}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="analogOut()">
  <h2>Analog OUT Entries</h2>
  <table id="analog-out-table">
    <thead>
      <tr>
        <th>Number</th>
        <th>AnalogValue</th>
        <th>Factor</th>
        <th>Value</th>
        <th>LowerBound</th>
        <th>UpperBound</th>
        <th>Type</th>
        <th>IsLogging</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of analogOut()?.Entries">
        <td>{{entry.Number}}</td>
        <td><input [(ngModel)]="entry.AnalogValue" type="number"/></td>
        <td><input [(ngModel)]="entry.Factor" type="number"/></td>
        <td>{{entry.Value}}</td>
          <!-- <input [(ngModel)]="entry.Value" /> -->
        <td><input [(ngModel)]="entry.LowerBound" type="number"/></td>
        <td><input [(ngModel)]="entry.UpperBound" type="number"></td>
        <td>{{entry.Type}}</td>
        <td>{{entry.IsLogging}}</td>
      </tr>
    </tbody>
  </table>
</div>